
/* INICIO DO GRID =================== */

main {
    width: 60%;
    background-color: #1B2126;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
   
}

.grid {
    width: 100%;
    border-top: 0.02rem solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    width: 10rem;
    border-radius: 0.9rem;
}

.card :hover {
    opacity: 0.8;
    cursor: pointer;
}

.card-header,
.card-content {
    padding: 1rem;
    text-align: center;
}

.card-image {
    width: 100%;
    height: 100%;
    text-align: center;
    
}

.card-image img {
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
}

.card-actions {
    padding: 1rem;
    text-align: center;
}   

.card-actions a {
    margin: 0 0.25rem;
}

.btn {
    text-decoration: none;
    color: #238c91;
    cursor: pointer;

    border: 1px solid #238c91;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
}

.btn:hover,
.btn:active {
    background-color: #238c91;
    color: white;
}

/* FIM DO GRID ===================== */

/* INICIO ADICIONAR PRODUTOS ======= */
.add-product{
    border: 3px solid #238c91;
    border-radius: 5px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;  
}

.add-product label{
    display: block; 
    
}

.add-product input{
    display: block;
    width: 100%;
    margin: 5px 0;
    height: 25px;
    border: 1.2px solid #238c91;
}

.add-product button{
    width: 100%;
    background-color: #238c91;
    border: none;
    height: 30px;
    margin-top: 5px;
    color: white;
}
/* FIM DO ADICIONAR PRODUTOS ======= */

