main {
    background-color: #1B2126;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    padding: 1rem;
    border-top: 1px solid black;
}
main p, h2, a{
    color: #fff;
}
.movie-box {
    background-color: #1B2126;
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.image-box {
    width: 33%;
    height: 90%;
}

.movie-img {
    width: 82%;
    height: 80%;
}

.movie-details {
    display: flex;
    width: 40%;
    flex-direction: column;
    text-align: left; 
    height: 90%;
    padding: 0.4rem;
}

.movie-details h2 {
    font-size: 3rem;
}

.movie-subdetails {
    display: flex;
}

.movie-date {
    margin-right: 0.4rem;
    margin-top: 0.2rem;
}

.movie-subname {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-top: 0.2rem;
}   

.movie-director {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-top: 0.2rem;
}   

.movie-descripton-genre {
    margin-top: 2rem;
    width: 100%;
}

.movie-genre-tags {
    margin-top: 1rem    ;
}

.btns {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    height: 20rem;
}

.btn {
    border: 1px solid #14181C;
    border-radius: 0.4rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: 80%;
    padding: 0.8rem;
    background-color: #14181C;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn:hover, .btn:visited:hover {
    background-color: white;
    color: #14181C;
    opacity: 0.8;
}


.comments-box {
    border-top: 0.02rem solid black;
    display: flex;
    justify-content: center;
}

.form-comment {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;  
    height: 10rem;
}

.form-comment form{
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    height: 10rem;
}

.form-comment form button{
    margin-top: 0.4rem;
}

.comments {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    
    
}
