<%- include('partials/head') %>
<%- include('partials/header') %>

   <main>
    <h2>Login</h2>
        <form class="add-product" action="/login" method="POST">
            <label for="email">Email:</label>
            <input name="email" id="email" /> 

            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" />
            
            <button>entrar</button>
        </form>
        <a href="/signup">Não tenho cadastro</a>
    </main>

<%- include('partials/footer') %>