<%- include('partials/head') %>
<%- include('partials/header') %>

<header>
    <link rel="stylesheet" href="/css/login.css" />
</header>

   <main>
        <h2>Cadastro</h2>
        <form class="add-product" action="/signup" method="POST">
            <input placeholder="Email" name="email" id="email"/>
            <input placeholder="Username" name="username" id="username"/>
            <input placeholder="Password" type="password" name="password" id="password"/>
            <input placeholder="Confirm Password" type="password" name="confirmPassword" id="confirmPassword"/>
            <input class="btn" type="submit">
        </form>        
        <a href="/login">Já sou cadastrado</a>
    </main>
    
<%- include('partials/footer') %>